<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>


    <title>Hotel</title>
</head>
<body>
<form method="POST" th:object="${hotel}" th:action="@{/{miasto}/{nazwa}}">
    <div class="list-group">
        <div class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hotel <span th:text="${nazwa}"/></h5>
                <small>Ocena: <span th:text="${miasto}"/></small>
            </div>
            <p class="mb-1">Tu będzie opis jak się go ogarnie</p>
            <small>Adres: <span th:text="${hotel.miasto} + ' ' + ${hotel.ulica}"/></small>
        </div>
        <li th:each="pokoj : ${pokoje}">
            <a th:href="@{'/' + ${miasto} + '/' + ${nazwa} + '/' + ${pokoj.id}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><span th:text="${pokoj.rozmiar}"/>. osobowy pokój <span th:text="${pokoj.rodzaj}"/></h5>
                    <small class="text-muted">Cena: <span th:text="${pokoj.cena}"/></small>
                </div>
                <p class="mb-1">Tu może być opis</p>
                <small class="text-muted">tutaj będą rezerwacje</small>
            </a>
        </li>
    </div>


</form>
</body>
</html>