<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Usuń konto</title>
</head>
<body>
<div id="header" th:include="page :: header"></div>
<form method="POST" th:action="@{/klient/usunKonto}">
    <div class="container text-center">
        <h1>Czy chcesz usunąć konto?</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" th:href="@{/klient}" role="button">Anuluj</a>
            <form method="POST" th:action="@{/klient/zmienHaslo}">
                <input type="submit" class="btn btn-danger" value="Potwierdź" />
            </form>
        </div>
    </div>
</form>
</body>
</html>